li {
  list-style-type: circle;
  list-style-position: outside;
  text-indent: -1.3em;
}

.header-color,
.landing-grid {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  width: 100%;
  margin: auto;
}

.landing-grid {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.avatar-img {
  height: 250px;
  position: relative;
  top: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.banner-text {
  position: relative;
  top: 27px;
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

/* contact.js CSS */

.contact-body {
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;

  margin-bottom: 20px;
}

.contact-grid h1 {
  font-family: 'Oxygen', sans-serif;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  width: 75%;
  margin: auto;
  padding-top: 1em;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-grid img {
  height: 250px;
  border-radius: 10px;
  border: 1px solid black;
}

.contact-list i {
  font-size: 50px;
  padding-right: 5rem;
}

.contact-content {
  margin: 0 0 0 2rem;
  font-size: 1.5em;
  font-family: Anton;
}
.contact-content .inbox {
  font-size: 500px;
}

/* Resume Page CSS */

.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
}

.resume-avatar {
  text-align: center;
  padding: 50px 0 0 0;
}
.resume-avatar img {
  height: 250px;
}
.resume-name {
  padding-top: 2em;
}
.resume-objective {
  color: grey;
}
.resume-left-border {
  border-top: 3px solid #833fb2;
  width: 50%;
}
.resume-right-border {
  border-top: 3px solid #e22947;
}

/* projects.js CSS */

.project-grid {
  display: flex;
}

.card {
  min-width: 450 px;
  margin: auto;
}
.title {
  color: #000;
  height: 250px;
}
.github {
  display: flex;
  justify-content: center;
}
